<% layout('layout') %>

<div class="top_link">
  <a href="/" class="btn">← トップへもどる</a>
</div>

<div class="main-title">
  <h1><%= title %></h1>
</div>

<form action="/message/<%= channel.channel_id %>" method="post" class="form">
  <input type="text" name="message" class="input" required>
  <button type="submit" class="submit">投稿</button>
</form>

<% if (messageList.length) { %>
  <div>
    <ul class="main-list">
      <% messageList.forEach(function(messageItem) { %>
        <li class="main-list_item">
          <div class="list">
            <p class="title">
              <%= messageItem.message %>
            </p>
            <div class="user_info">
              <p class="user_name">
                <%= messageItem.user_name %>
              </p>
              <p class="date">
                <%= messageItem.created_at %>
              </p>
            </div>
          </div>
        </li>
      <%}); %>
    </ul>
  </div>
<%} %>